*{
    margin: 0;
    padding: 0;
    
}



a{
    text-decoration: none;
    color: black;
}

body{
    max-width: 1950px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 45px;
    background-color: white;
}

#logo{
    margin: 0 auto; 
} 


.flèche{
    margin-left: 20px;
}

.flèche i{
    font-size: 25px;
    padding-top: 8px;
}




/*   Menu présentation   */


#photo img{
    width: 100%;
    height: 25%;
    object-fit: cover;
    z-index: 2;    
}

.menu_présentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: -40px;
    margin-bottom: -20px; 
    background-color: rgb(245, 244, 244);
    position: relative;
    top: -20px;
    z-index: 1;
    width: 100%;
    height: auto;
}


.menu_titre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    font-family: 'Shrikhand', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    padding: 20px 0;
}



.titre_coeur{
    margin-right: 55px;
    margin-top: 11px;
    position: relative;
}

.titre_coeur i{
    font-size: 20px;
} 

.titre_coeur .coeur_plein{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    background: linear-gradient(#9656dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.titre_coeur .coeur_vide{
    position: absolute;
    transition: opacity 1s;
}



.titre_coeur:hover .coeur_plein{
    opacity: 1;
    background: linear-gradient(#9656dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

.titre_coeur:hover .coeur_vide{
    opacity: 0;
} 



@media screen and (min-width: 790px){

    header{
        height: 80px;
    }

    #logo img{
        text-align: center;
        font-size: 40px;
        width: 350px;
    }

    #photo img{
        width: 100%;
        height: 350px;
    }

    .flèche{
        margin-left: 100px;
    }
    
    .flèche i{
        font-size: 40px;
        padding-top: 15px;
    }

    /* .menu-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }   
 */

    .cartes{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu_titre h1{
        font-size: 35px;
    }

    .titre_coeur i{
        font-size: 30px;
    } 

    .menu_entrées{
        width: 200px;
    }

    .menu_plats{
        width: 30%;
    }

    .menu_desserts{
        width: 30%;
    }

    .menus{
        width: 100%;
    }


} 

/*    Fin des Media queries    */


/*   Main    */

.cartes{
    width: 100%;
}

 

/*    Entrée     */

.menu_entrées{
    width: 100%;
    
}


.menu_entrées h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px; 
    padding-bottom: 7px;
    text-align: left;
    position: relative;
} 

.menu_entrées h2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #6aaf9e;
    position: absolute;
    bottom: 0%; left: 0%;

}



.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 67px;
    background-color: white;
    margin: 10px auto; 
    /* padding: 10px; */
    /* box-sizing: border-box; */
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    /* position: relative;  */
    cursor: pointer;
    overflow: hidden;   
}


.menus_caption{
    width: 75%; 
    min-width: 200px;  
    padding-left: 20px;
    
}
 
 
.menus_caption h3{
    font-size: 17px;
    font-weight: bold;
    margin: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
 }

 .menus_caption p{
    font-size: 16px;
    margin: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menus_prix{
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    /* width: 60px;
    height: 67px; */
    /* padding-bottom: 15px; */
    margin-right: -40px;  
    margin-bottom: -25px;
    padding-right: 50px; 
    font-weight: bold;
    font-size: 14px;
    transition: all 1s ease-in-out; 
}

.bouton_prix{
    background-color: #6aaf9e;
    color: white;
    height: 100%; 
    width: 0px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    opacity: 1;
    
}

.bouton_prix i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0px;
    font-size: 20px;
    opacity: 0;
    transition: opacity 1s;
    
}



/* .menus:hover >.menus_prix{
    /* width: 150px; */
   
    /* margin-right: 100px; */
    /* transition: all 1s ease-in-out; */
    /* padding-right: 100px;  */
    /* transition: all 1s; */


.menus:hover >.bouton_prix{
    width: 60px;
    transition: all 1s;
}

.menus:hover >.bouton_prix i{
    animation: check 0.7s both;
    animation-direction: alternate;
    opacity: 1;
    transition: opacity 1s;
}



@keyframes check{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        
    }  
}





/*    Animations menu apparaissant progressivement     */


.menu1{
    animation: slidein1 2s ease-out forwards;
}

@keyframes slidein1{
0%{
    transform: translateY(15px);
    opacity: 0;
}

50%{
    opacity: 0.5;
}

100%{
    transform: translateY(0);
    opacity: 1;
}
}

.menu2{
    animation: slidein1 2s ease-out 0.5s forwards;
}



.menu3{
    animation: slidein1 2s ease-out 1s forwards;
}




 /*    Plats principaux  */


.menu_plats{
    width: 100%;
}

.menu_plats h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px; 
    padding-top: 20px;
    padding-bottom: 7px;
    position: relative;
} 

.menu_plats h2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #6aaf9e;
    position: absolute;
    bottom: 0%; left: 0%;

}





/*    Dessert     */

.menu_desserts{
    width: 100%;
}


.menu_desserts h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px; 
    padding-bottom: 7px;
    padding-top: 20px;
    text-align: left;
    position: relative;

} 

.menu_desserts h2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #6aaf9e;
    position: absolute;
    bottom: 0%; left: 0%;

}






/*   Bouton   */

.menu_bouton{
    width: 190px;
    box-shadow: 5px 5px 5px grey;
    padding: 15px;
    margin-top: 50px;
    /* margin-left: 150px;  */
    margin-bottom: 80px;
    border-radius: 25px;
    /* background-color: #FF79DA; */
    background: rgb(255,121,218);
    background: -moz-linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    background: -webkit-linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    background: linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
    color: white;
    font-weight: bold;
    text-align: center;
    transition: transform 0.5s;

}

.menu_bouton:hover{
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}


 
/*    Footer    */

footer{
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 56, 56);
    color: white;
    margin-top: 0;
    padding-bottom: 30px;

}

footer .logo{
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.logo img{
    height: 25px;
    color: white;
} 


.liens{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.liens:hover{
    color: #FF79DA;
    transition: color 0.5s;
}

.liens a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}

.liens_liens i{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
}

.liens_liensmain i{
    padding-right: 20px;
    padding-left: 5px;
    width: 5px;
    font-size: 12px;
}

.liens_liensmain a{
    color: white;
}

.liens_liens a{
    color: white;
}


.liens_mentions{
    margin-left: 30px;
    margin-top: 10px;
}

.liens_mentions a{
    color: white;
}

.liens_mentions a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}


.liens_contact{
    margin-left: 30px;
    margin-top: 10px;
}

.liens_contact a{
    color: white;
}

.liens_contact a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}



