*{
    margin: 0;
    padding: 0;
}



a{
    text-decoration: none;
    color: black;
}

body{
    max-width: 1950px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    height: 45px;
    background-color: white;
}


.flèche{
    position: relative;
    top: 6px;
    left: -90px;
}

.flèche i{
    font-size: 25px;
}


/*   Menu présentation   */


#photo img{
    width: 100%;
    height: 350px;
    z-index: 2;
    
}

.menu_présentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: -40px;
    margin-bottom: -20px; 
    background-color: lightgrey;

    position: relative;
    top: -20px;
    z-index: 1;
    width: 100%;
    height: auto;
}


.menu_titre{
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-family: 'Shrikhand', sans-serif;
    font-size: 21px;
    margin-left: 20px;
    padding: 20px 0;
}



.titre_coeur{
    margin-right: 30px;
    margin-top: 15px;
    position: relative;
}

.titre_coeur .coeur_plein{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    color: #FF79DA;
}

.titre_coeur .coeur_vide{
    position: absolute;
    transition: opacity 1s;
}

.titre_coeur i{
    font-size: 20px;
} 

.titre_coeur:hover .coeur_plein{
    opacity: 1;
    color: #FF79DA;
    
}

.titre_coeur:hover .coeur_vide{
    opacity: 0;
} 





/*    Entrée     */

.menu_entrées{
    width: 100%;
    
}


.menu_entrées h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px; 
    padding-bottom: 7px;
    text-align: left;
    position: relative;
   

} 

.menu_entrées h2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #6aaf9e;
    position: absolute;
    bottom: 0%; left: 0%;

}



.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 67px;
    background-color: white;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    /* position: relative; */
    cursor: pointer;
    overflow: hidden; 
    /* transform: translateX(0%); */
}


.menus_caption{
    width: 250px;
    
}
 
 
.menus h3{
    font-size: 17px;
    margin-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
 }

 .menus p{
    font-size: 14px;
    margin-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menus_prix{
    padding-top: 30px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 13px;
    transition: all 1s;
}

.bouton_prix{
    background-color: #6aaf9e;
    color: white;
    height: 67px;
    width: 0px;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* position: absolute;
    right: 0;
    top: 0; */
    transition: all 1s;
    
}

.bouton_prix i{
    font-size: 20px;
    opacity: 0;
    transition: opacity 1s;
    
}



.menus:hover >.menus_prix{
    padding-right: 100px;
    transition: all 1s;
}

.menus:hover >.bouton_prix{
    transition: transform 1s ease;
    /* visibility: visible; */
    width: 60px;
    height: 67px;
    transition: all 1s;
    

}

.menus:hover >.bouton_prix i{
    animation: check 0.7s both;
    animation-direction: alternate;
    opacity: 1;
    transition: opacity 1s;
}




@keyframes check{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
        
    }  
    
}





/*    Animations menu apparaissant progressivement     */


#menu1{
    animation: slidein1 2s ease-out forwards;
}

@keyframes slidein1{
0%{
    transform: translateY(15px);
    opacity: 0;
}

50%{
    opacity: 0.5;
}

100%{
    transform: translateY(0);
    opacity: 1;
}
}

#menu2{
    animation: slidein2 2s ease-out 0.5s forwards;
}

@keyframes slidein2{
0%{
    transform: translateY(15px);
    opacity: 0;
}

50%{
    opacity: 0.5;
}

100%{
    transform: translateY(0);
    opacity: 1;
}
}

#menu3{
    animation: slidein3 2s ease-out 1s forwards;
}

@keyframes slidein3{
0%{
    transform: translateY(15px);
    opacity: 0;
}

50%{
    opacity: 0.5;
}

100%{
    transform: translateY(0);
    opacity: 1;
}
}




 /*    Plats principaux  */


.menu_plats{
    width: 100%;
}

.menu_plats h2{
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px; 
    padding-top: 20px;
    padding-bottom: 7px;
    position: relative;
} 

.menu_plats h2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #6aaf9e;
    position: absolute;
    bottom: 0%; left: 0%;

}

/* .plats_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
    background-color: white;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;

}

.plats_principal h3{
    font-size: 17px;
    margin-top: 5px;
    
}

.plats_principal p{
    font-size: 14px;
    margin-top: 5px;
    
}


.principal_prix{
    padding-top: 30px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 13px;
}
 */



/*    Dessert     */

.menu_desserts{
    width: 100%;
}

.menu_desserts h2{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    margin: 20px; 
    padding-top: 20px;
}



/* .desserts_plat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
    background-color: white;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;

}

.desserts_plat h3{
    font-size: 17px;
    margin-top: 5px;
    
}

.desserts_plat p{
    font-size: 14px;
    margin-top: 5px;
    
}

.desserts_prix{
    padding-top: 30px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 13px;
} */



/*   Bouton   */

.menu_bouton{
    width: 190px;
    box-shadow: 5px 5px 5px grey;
    padding: 15px;
    margin-top: 50px;
    /* margin-left: 150px;  */
    margin-bottom: 80px;
    border-radius: 25px;
    /* background-color: #FF79DA; */
    background: rgb(255,121,218);
    background: -moz-linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    background: -webkit-linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    background: linear-gradient(176deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 54%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da",endColorstr="#9356dc",GradientType=1);
    color: white;
    font-weight: bold;
    text-align: center;
    transition: transform 0.5s;

}

.menu_bouton:hover{
    transform: scale(1.05);
    opacity: 0.8;
    cursor: pointer;
}


 
/*    Footer    */

footer{
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 56, 56);
    color: white;
    margin-top: 0;
    padding-bottom: 30px;

}

footer .logo{
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.logo img{
    height: 25px;
    color: white;
} 


.liens{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.liens:hover{
    color: #FF79DA;
    transition: color 0.5s;
}

.liens a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}

.liens_liens i{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
}

.liens_liensmain i{
    padding-right: 20px;
    padding-left: 5px;
    width: 5px;
    font-size: 12px;
}

.liens_liensmain a{
    color: white;
}

.liens_liens a{
    color: white;
}


.liens_mentions{
    margin-left: 30px;
    margin-top: 10px;
}

.liens_mentions a{
    color: white;
}

.liens_mentions a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}


.liens_contact{
    margin-left: 30px;
    margin-top: 10px;
}

.liens_contact a{
    color: white;
}

.liens_contact a:hover{
    color: #FF79DA;
    transition: color 0.5s;
}

